@font-face {
    font-family: B Yekan;
    src: url(/assets/fonts/Yekan.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#288ed9;
    --background:#fff;
    --color: #000;
}
body {
    font-family: 'B Yekan', tahoma, arial;
    background-color:var(--background) ;
    width: 576px;
}
.header_top {
    display: flex;
    align-items: center;
    height: 100px;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--background);
    justify-content: start;
    padding: 5px 0;
}

.header_right {
    display: flex;
    padding: 0px 10px;

}

#logo {
    margin-left: 10px;
    cursor: pointer;
}

.menu_list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu_item {
    padding: 10px;
    color: var(--color);
    font-size: 16px;
    cursor: pointer;
}
.selected {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 12px;
}
.menu_item:hover {
    border-bottom: 3px solid #0077ff;
}
.navlink {
    text-decoration: none;
}

.loginlink {
    text-decoration: none;
}
.header_left .header_login {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 30px;
}

.header_left p {
    padding: 7px;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 12px;

}
.header_left {
    display: flex;
}

.header_left p {
    padding: 5px 20px;
    color: var(--primary-color);
    cursor: pointer;
}
.header_bottom {
    display: flex;
    flex-direction: column;

}

.header_bottom_right {
    width: 100%;
    padding: 0px 10px;

    display: flex;
    flex-direction: column;
}
.title {
    margin: 20px 10px 10px;
    font-size: 25px;
    color: var(--primary-color);

}

#desc {
    width: 90%;

}

.desc {
    color: var(--primary-color);
    margin-bottom: 15px;
    padding: 0px 10px;
    font-size: 15px;

}

.info {
    color: var(--color);
    line-height: 27px;
    text-align: justify;
}

#info {
    width: 90%;
    padding: 0 10px;
}

.container_card {
    display: flex;
    padding: 15px;
}

.card {
    width: 120px;
    border: 1px solid #000;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.material-icons {
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.icons {
    font-size: 18px;
    color: var(--primary-color);
    margin: 10px 0;
}

.main-description {
    color: var(--color);
    font-size: 16px;
    text-align: center;
}

.container_content {
    background: linear-gradient(to bottom, rgba(214, 238, 255, 0) 0, #d6eeff 100%);
    margin-bottom: 50px;

}