@font-face {
    font-family: B Yekan;
    src: url(/assets/fonts/Yekan.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#288ed9;
    --background:#fff;
    --color: #000;
}
body {
    font-family: 'B Yekan', tahoma, arial;
    background-color:var(--background) ;
    width: 576px;
}
.header_top {
    display: flex;
    align-items: center;
    height: 100px;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--background);
    justify-content: start;
    padding: 5px 0;
}

.header_right {
    display: flex;
    padding: 0px 10px;

}

#logo {
    margin-left: 10px;
    cursor: pointer;
}

.menu_list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu_item {
    padding: 10px;
    color: var(--color);
    font-size: 16px;
    cursor: pointer;
}
.selected {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 12px;
}
.menu_item:hover {
    border-bottom: 3px solid #0077ff;
}
.navlink {
    text-decoration: none;
}

.loginlink {
    text-decoration: none;
}
.header_left .header_login {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 30px;
}

.header_left p {
    padding: 7px;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 12px;

}
.header_left {
    display: flex;
}

.header_left p {
    padding: 5px 20px;
    color: var(--primary-color);
    cursor: pointer;
}
.header_bottom {
    display: flex;
    flex-direction: column;

}

.header_bottom_right {
    width: 100%;
    padding: 0px 10px;

    display: flex;
    flex-direction: column;
}
.title {
    margin: 20px 10px 10px;
    font-size: 25px;
    color: var(--primary-color);

}

#desc {
    width: 90%;

}

.desc {
    color: var(--primary-color);
    margin-bottom: 15px;
    padding: 0px 10px;
    font-size: 15px;

}

.info {
    color: var(--color);
    line-height: 27px;
    text-align: justify;
}

#info {
    width: 90%;
    padding: 0 10px;
}

.container_card {
    display: flex;
    padding: 15px;
}

.card {
    width: 120px;
    border: 1px solid #000;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.material-icons {
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.icons {
    font-size: 18px;
    color: var(--primary-color);
    margin: 10px 0;
}

.main-description {
    color: var(--color);
    font-size: 16px;
    text-align: center;
}

.container_content {
    background: linear-gradient(to bottom, rgba(214, 238, 255, 0) 0, #d6eeff 100%);
    margin-bottom: 50px;

}

/*tour*/
.tour_card_item {
    display: none;
    transition: opacity 0.5s ease;
  }
  
  .tour_card_item.active {
    display: block;
    opacity: 1;
  }
  


.tour_section_title {
    text-align: center;
    margin: 30px 0;
    color: var(--color);
}
.visit_h{
    margin-right: 330px;
    background-color: #0077ff;
    color: #e0efff;

}
.visit_all {
    text-decoration: none;
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 0 160px 10px;
    display: block;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #0077ff;

}

.visit_all:hover {
    background-color: #0077ff;
    color: #e0efff;
}

.tour_img {
    width: 100%;
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
}

.tour_list {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.tour_card_item {
    margin: 0 20px;
    background-color: var(--background);
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
    width: 70%;
    margin-bottom: 30px;
}

.tour_card_tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: var(--color);
}

.tour_card_name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
}

.visit {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}


button:hover {
    background-color: #0077ff;
    color: #e0efff;
}

.money {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tour_card_item {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out;
    color: var(--color);
}

.caret-container {
    display: none;
}

.tour_card_item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
}

#link {
    text-decoration: none;
}


/*leaders*/
.leaders_section_title {
    text-align: center;
    margin: 80px 0 40px;
    color: var(--color);
}

.leader-card {
    background-color: var(--background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 1px solid #bacdd8;
    overflow: hidden;
    width: 300px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out;
    cursor: pointer;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.leader-details {
    padding: 20px;
}

.leader-details h2 {
    color: var(--color);
}

.leader-details p {
    margin: 10px 0;
    color: var(--color);
}

.leader_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.leader-card {
    margin: 10px 20px;
}

.leader-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.Attractions_title {
    text-align: center;
    margin: 80px 0 40px;
    color: var(--color);
}