@font-face {
    font-family: B Yekan;
    src: url(/assets/fonts/Yekan.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#288ed9;
    --background:#fff;
    --color: #000;
}
body {
    font-family: 'B Yekan', tahoma, arial;
    background-color:var(--background) ;
}
.header_top {
    display: flex;
    align-items: center;
    height: 100px;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--background);
    justify-content: start;
    padding: 5px 0;
}

.header_right {
    display: flex;
    padding: 0px 10px;

}

#logo {
    margin-left: 10px;
    cursor: pointer;
}

.menu_list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu_item {
    padding: 10px;
    color: var(--color);
    font-size: 16px;
    cursor: pointer;
}
.selected {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 12px;
}
.menu_item:hover {
    border-bottom: 3px solid #0077ff;
}
