@font-face {
    font-family: B Yekan;
    src: url(/assets/fonts/Yekan.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --primary-color:#288ed9;
    --background:#fff;
    --color: #000;
}
.dark-mod{
    --background:#282727;
    --color: #fff;
}
body {
    font-family: 'B Yekan', tahoma, arial;
    background-color:var(--background) ;
}


.header_top {
    display: flex;
    align-items: center;
    height: 100px;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--background);
    justify-content: start;
    padding: 5px 0;
}



.header_right {
    display: flex;
    padding: 0px 10px;

}

#logo {
    margin-left: 10px;
    cursor: pointer;
}

.menu_list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu_item {
    padding: 10px;
    color: var(--color);
    font-size: 16px;
    cursor: pointer;
}
.selected {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 12px;
}
.menu_item:hover {
    border-bottom: 3px solid #0077ff;
}

.header_left {
    display: flex;
}

.header_left p {
    padding: 5px 20px;
    color: var(--primary-color);
    cursor: pointer;
}
.mod{
    color: var(--primary-color);
    cursor: pointer;
font-size: 24px;
}
.loginlink {
    text-decoration: none;
}

.header_left .header_login {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 30px;
}

.header_left p {
    padding: 7px;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 12px;

}

.navlink {
    text-decoration: none;
}

.header_bottom {
    display: flex;
    flex-direction: column;

}

.header_bottom_right {
    width: 100%;
    padding: 0px 10px;

    display: flex;
    flex-direction: column;
}

.header_bottom_left {
    padding-left: 10px;
}

.title {
    margin: 20px 10px 10px;
    font-size: 25px;
    color: var(--primary-color);

}

#desc {
    width: 90%;

}

.desc {
    color: var(--primary-color);
    margin-bottom: 15px;
    padding: 0px 10px;
    font-size: 15px;

}

.info {
    color: var(--color);
    line-height: 27px;
    text-align: justify;
}

#info {
    width: 90%;
    padding: 0 10px;
}

.container_card {
    display: flex;
    padding: 15px;
}

.card {
    width: 120px;
    border: 1px solid #000;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.material-icons {
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.icons {
    font-size: 18px;
    color: var(--primary-color);
    margin: 10px 0;
}

.main-description {
    color: var(--color);
    font-size: 16px;
    text-align: center;
}

.container_content {
    background: linear-gradient(to bottom, rgba(214, 238, 255, 0) 0, #d6eeff 100%);
    margin-bottom: 50px;

}

/*tour*/
.tour_card_item {
    display: none;
    transition: opacity 0.5s ease;
  }
  
  .tour_card_item.active {
    display: block;
    opacity: 1;
  }
  


.tour_section_title {
    text-align: center;
    margin: 30px 0;
    color: var(--color);
}
.visit_h{
    margin-right: 330px;
    background-color: #0077ff;
    color: #e0efff;

}
.visit_all {
    text-decoration: none;
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 0 160px 10px;
    display: block;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #0077ff;

}

.visit_all:hover {
    background-color: #0077ff;
    color: #e0efff;
}

.tour_img {
    width: 100%;
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
}

.tour_list {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.tour_card_item {
    margin: 0 20px;
    background-color: var(--background);
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
    width: 70%;
    margin-bottom: 30px;
}

.tour_card_tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: var(--color);
}

.tour_card_name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
}

.visit {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}


button:hover {
    background-color: #0077ff;
    color: #e0efff;
}

.money {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tour_card_item {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out;
    color: var(--color);
}

.caret-container {
    display: none;
}

.tour_card_item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
}

#link {
    text-decoration: none;
}

/*leaders*/
.leaders_section_title {
    text-align: center;
    margin: 80px 0 40px;
    color: var(--color);
}

.leader-card {
    background-color: var(--background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 1px solid #bacdd8;
    overflow: hidden;
    width: 300px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out;
    cursor: pointer;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.leader-details {
    padding: 20px;
}

.leader-details h2 {
    color: var(--color);
}

.leader-details p {
    margin: 10px 0;
    color: var(--color);
}

.leader_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.leader-card {
    margin: 10px 20px;
}

.leader-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/*galery*/

.Attractions_title {
    text-align: center;
    margin: 80px 0 40px;
    color: var(--color);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.gallery-item {
    margin: 20px;
    width: 250px;
    max-height: 300px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 13.75C4.5 8.64137 8.64137 4.5 13.75 4.5C18.8586 4.5 23 8.64137 23 13.75C23 18.8586 18.8586 23 13.75 23C8.64137 23 4.5 18.8586 4.5 13.75ZM13.75 0C6.15609 0 0 6.15609 0 13.75C0 21.3439 6.15609 27.5 13.75 27.5C16.3774 27.5 18.8327 26.7631 20.9205 25.4846L30.4906 35.0547C31.7509 36.3151 33.7944 36.3151 35.0547 35.0547C36.3151 33.7944 36.3151 31.7509 35.0547 30.4906L25.4846 20.9205C26.7631 18.8327 27.5 16.3774 27.5 13.75C27.5 6.15609 21.3439 0 13.75 0Z' fill='white'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 250ms;
    object-fit: fill;
    z-index: 10;
}

.gallery-item .caption {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 0;
    line-height: 1em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(4em);
    transition: transform 250ms;
    z-index: 20;
}

.gallery-item .caption span {
    display: inline-block;
    max-width: calc(100% - 2em);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gallery-item:hover {
    transform: scale(1.05);
}

@media (hover: hover) {
    .gallery-item:hover::after {
        opacity: 1;
    }

    .gallery-item:hover .caption {
        transform: translateY(0);
    }
}


.glass {
    width: 20%;
    height: 100px;
    margin: 20px 8px 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.glass:hover {
    transform: scale(1.05);
    font-size: 1.1em;
}

.glass_title,
.glass_caption {
    margin: 20px 0;
    text-align: center;

}

.container_glass {
    width: 100%;
    display: flex;
    margin-right: 12px;
}

/*footer*/
footer{
    width: 1300px;
    margin: 0 auto;
    color: var(--color);
}
.footer{
    display: flex;
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
}
.aboutus{
    width: 30%;
    padding: 0 20px;
}
.about{
    color: #0077ff;
    padding: 5px 0;
    border-bottom: 1px solid black;
}
.aboutus p{
    padding: 10px 0;
    text-align: justify;
    line-height: 20px;
}
.contactus{
    width: 30%;
}
.socials{
    margin: 0 20px;
    width: 30%;
        padding: 50px 0;
        order: 3;
}
.social_title{
    text-align: center;
    padding: 5px 0;
    color: #0077ff;
}
.contactus{
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}
.media{
    text-align: center;
}
.media i{
    font-size: 25px;
    padding: 10px;
    color: #999;
}
.contact, .address{
    color: #0077ff;
    border-bottom: 1px solid black;
    padding: 5px;

}

@media screen and (min-width: 576px) {
    .header_top {
        justify-content: start;

    }

    .header_right {
        margin-left: 100px;

    }

    #logo {
        margin-left: 10px;
    }

    .menu_item {
        padding: 10px;
        color: var(--color);
        font-size: 18px;
        cursor: pointer;
    }

    .selected {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 12px;
    }

    .header_bottom {
        flex-direction: column;
    }

    .header_bottom_right {
        display: flex;
        flex-direction: column;

    }
    .mod{
        padding: 6px 20px;
    }
    .title {
        margin: 20px 20px 10px;
        font-size: 35px;

    }

    #desc {
        width: 100%;
    }

    .desc {
        color: var(--primary-color);
        padding: 0px 20px;
        margin-bottom: 15px;
        font-size: 15px;

    }

    #info {
        width: 100%;
        padding: 0 20px;
    }

    .container_card {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 150px;
    }

    .header_bottom_left img {
        height: 600px;
    }

    .container_card {
        display: flex;
        padding: 15px;
    }

    .card {
        width: 120px;
    }
    .header_bottom_left img {
        height: 550px;
    }
    .visit_all {
        
        margin: 0 230px 10px;
    
    }
    .tour_list {
        display: flex;
        flex-direction: column;
    }

    .tour_card_item {
        width: 50%;
        margin-bottom: 30px;
    }

    .caret-container {
        display: none;
    }

    .leader_list {
        display: flex;
        flex-direction: column;
    }

    .container_glass {
        width: 100%;
    }

    .glass {
        width: 20%;
        height: 100px;
        margin: 20px 8px 30px;
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: center;
        padding: 0 30px;

    }

    .container_glass {
        display: flex;
        margin-right: 15px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        width: 60%;
        padding: 0 10px;
        margin-bottom: 1px;

    }

    .aboutus {
        width: 25%;
    }

    .socials {
        width: 25%;
        padding: 20px 0;
        order: 0;
    }

    .contactus {
        margin-right: 2px;
        width: 20%;
    }

}

@media screen and (min-width: 768px) {

    .header_top {
        justify-content: space-between;
       padding: 20px ;

    }


    #logo {
        margin-left: 10px;
    }

    .menu_item {
        padding: 10px;
        color: #999;
        font-size: 18px;
        cursor: pointer;
    }

    .selected {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 12px;
    }
    .header_bottom_right{
        width: 80%;
    }
    
    .title {
        margin: 20px 5px 10px;
        font-size: 35px;

    }

    .container_card {
        display: flex;
        padding: 15px;
    }

    .card {
        width: 150px;
    }

    .header_bottom_right {
        margin-right: 100px;

    }

    .header_bottom_left img {
        height: 650px;
        margin-right: 50px;
    }

    .tour_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .visit_all {
        
        margin: 0 50px 10px;
    
    }
    .tour_card_item {
        width: 40%;
        margin-bottom: 30px;
    }

  

    .leader_list {
        display: flex;
        flex-direction: row;
    }

    .container_glass {
        width: 100%;
    }

    .glass {
        flex-wrap: wrap;
        width: 20%;
        height: 100px;
        margin: 20px 8px 30px;
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: center;
        padding: 0 30px;

    }

    .container_glass {
        display: flex;
        margin-right: 40px;
    }

    .footer {
        display: flex;
        width: 60%;
        padding: 0 20px;
        margin-bottom: 1px;

    }

    .aboutus {
        width: 40%;
    }

    .socials {
        width: 30%;
        padding: 50px 0;
    }

    .contactus {
        margin-right: 12px;
        width: 30%;
    }
    .caret-container {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .container{
        width: 1200px;
        margin: 0 auto;
    }
    .header_bottom {
        flex-direction: row;
    }

    .header_top {
        justify-content: space-between;

    }

    .selected {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 12px;
    }

    .header_bottom_right,
    .header_bottom_left {
        margin-right: 5px;
    }

    

    .tour_list {
        display: flex;
        flex-direction: row;
    }

    .tour_card_item {
        width: 20%;
        margin-bottom: 30px;
    }

    .caret-container {
        display: none; 
    }

    
    .leader_list {
        display: flex;
        flex-direction: row;
    }

    .container_glass {
        width: 100%;
    }

    .glass {
        flex-wrap: wrap;
        width: 20%;
        height: 100px;
        margin: 20px 20px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container_glass {
        display: flex;
        margin-right: 30px;
    }

    .footer {
        display: flex;
        width: 100%;
        margin-bottom: 1px;

    }

    .aboutus {
        width: 30%;
    }

    .socials {
        width: 40%;
        padding: 50px 0;
    }

    .contactus {
        margin-right: 12px;
        width: 30%;
    }
    .caret{
        font-size: 32px;
        color: #0077ff;
    }
    .caret-container {
        background-color: #d6eeff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-items: center;
        align-items: center;
        border: 1px solid #0077ff;
    }
    .caret-container:hover {
        background-color: #fff;
    }
}




.faq {
    width: 80%;
    margin: 20px auto;
    color: var(--color);

}
.feqtitle{
    margin: 10px 10px 10px 0 ;
}
.q-item {
    border: 1px solid #ddd;
    border-radius: 12px;
}

.q-header {
    background-color: #f5f5f5;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2px;
color: #000;
}

.q-body {
    padding: 15px;
    display: none;
}

strong {
    color: #007bff;
}

