@font-face {
    font-family: 'B Yekan';
    src: url('../../assets/fonts/Yekan.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'B Yekan', tahoma, arial;
        background: linear-gradient(to bottom , rgba(214,238,255,0) 0 ,#d6eeff 100%);
        background-repeat: no-repeat;
        overflow-y: hidden;
}

.left{
    display: none;
}
.container-all{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}
.box {
    height: 600px;
    width: 60%; 
    background: rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba(31, 38, 135, 0.2); 
    box-shadow: 0 8px 16px rgba(31, 38, 135, 0.2); 
    border-radius: 10px; 
    padding: 20px; 
}
.title {
    font-size: 30px;
    color: #0077ff;
    text-align: center;
    margin: 30px 0; 
}
.auth-login-form {
    display: flex;
    flex-direction: column;
}
.form-control {
    width: 100%;
    padding: 10px;
    height: 45px;
    margin-bottom: 15px;
    border: 1.2px solid #ddd;
    border-radius: 5px;
    direction: rtl;
    transition: border-color 0.3s; 
}
.form-control:focus {
    outline: none;
    border-color: #0077ff;
}

.form-control::placeholder {
    font-family: 'B Yekan', Tahoma, Arial, sans-serif; 
}

.input-group {
    position: relative;
}

.input-group-text {
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 45%;
    transform: translateY(-50%);
    color: #0077ff;
}

.form-check {
    margin-bottom: 30px;
}
.btnlogin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn {
    width: 40%;
    padding: 10px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn p{
    font-family: 'B Yekan';
    font-size: 16px;
}
.form-check-label{
    margin-bottom: 30px;
    color: #777;
}
.divider {
    margin: 20px 0;
}

.divider-text {
    text-align: center;
    color: #777;
    margin: 50px 0 20px;
}
.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text-center a.btn {

    text-align: center;
    display: inline-block;
    background-color: #28a745; 
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.text-center a.btn:hover {
    background-color: #218838;
}
.center-container {
    text-align: center;
}
.back{
display: inline-block;
    text-decoration: none;
    margin:20px auto;
    color: #7367f0;
}

@media screen and (min-width:992px) {
    .container-all{
        width: 100vw;
    }
    .container {
        width: 60%;
    }
    
    .box {
        width: 40%; 
    }
    .left{
        width: 40%;
        display: inline-block;
        
    }
}
.text-danger{
    color: red;
    font-size: 12px;
}
