@font-face {
    font-family: 'B Yekan';
    src: url('../../assets/fonts/Yekan.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'B Yekan', tahoma, arial;
        background: linear-gradient(to bottom , rgba(214,238,255,0) 0 ,#d6eeff 100%);
        overflow-y: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.box {
    height: 700px;
    width: 400px; 
    background: rgba(255, 255, 255, 0.8); /* Increased opacity */
    border: 1px solid rgba(31, 38, 135, 0.2); /* Adjusted border opacity */
    box-shadow: 0 8px 16px rgba(31, 38, 135, 0.2); /* Adjusted box shadow */
    border-radius: 10px; 
    padding: 20px; 
}

.title {
    font-size: 30px;
    color: #0077ff;
    text-align: center;
    margin: 15px 0; 
}

.auth-register-form {
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    padding: 10px;
    height: 45px;
    margin-bottom: 15px;
    border: 1.2px solid #ddd;
    border-radius: 5px;
    direction: rtl;
    transition: border-color 0.3s; 
}

.form-control:focus {
    outline: none;
    border-color: #0077ff;
}

.form-control::placeholder {
    font-family: 'B Yekan', Tahoma, Arial, sans-serif; 
}

.input-group {
    position: relative;
}

.input-group-text {
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 45%;
    transform: translateY(-50%);
    color: #0077ff;
}

.form-check {
    margin-bottom: 30px;
}
.btnregister{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn {
    width: 40%;
    padding: 10px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn p{
    font-family: 'B Yekan';
    font-size: 16px;
}
.form-check-label{
    margin-bottom: 30px;
    color: #777;
}
.divider {
    margin: 20px 0 5px;
}

.divider-text {
    text-align: center;
    color: #777;
    margin: 30px 0 5px;
}

.container_register {
    display: flex;
    flex-direction: row; 
    align-items: start;
    justify-content: center;
}
.text-center{
    text-align: center;

    width: 40%;
    height: 50px;
}
.text-center a.btn {
    margin: 5px; 
    text-align: center;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.text-center a.btn:hover {
    background-color: #218838;
}

.link{
    text-decoration: none;
    color: #0077ff;
}
.center-container {
    text-align: center;
}
.back{
display: inline-block;
    text-decoration: none;
    margin:10px auto;
    color: #7367f0;
}
.text-danger{
    color: red;
    font-size: 12px;
}